services:
  pg:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: pg
      POSTGRES_PASSWORD: pg
      POSTGRES_DB: pg
    ports:
      - 5432:5432
    shm_size: 128mb
